<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin panel</title>
  </head>
  <body>
    <h1>Поиск</h1>
    <p style="text-align: center">
    <button><a href = "datanode_warnings"> datanode warnings </a></button>
    <button><a href = "datanode_errors"> datanode errors </a></button>
    <button><a href = "namenode_warnings"> namenode warnings </a></button>
    <button><a href = "namenode_errors"> namenode errors </a></button>
    <button><a href = "historyserver_warnings"> history server warnings </a></button>
    <button><a href = "historyserver_errors"> history server errors </a></button>
    <button><a href = "nodemanager_warnings"> node manager warnings </a></button>
    <button><a href = "nodemanager_errors"> node manager errors </a></button>
    <button><a href = "resourcemanager_warnings"> resource manager warnings </a></button>
    <button><a href = "resourcemanager_errors"> resource manager errors </a></button>
    <button><a href = "all_warnings"> all warnings </a></button>
    <button><a href = "all_errors"> all errors </a></button>
    </p>
    <p style="text-align: center">
    <button><a href = "get_logs"> update logs </a></button>
    </p>
  </body>
</html>
